QWidget 
{
    background-color: white;
    color: black;
    border-color: gray;

    selection-background-color: #3daee9;
    selection-color: #eff0f1;
}

QPushButton 
{
    background-color: #FCFCFC;
}

ArrowKeyControl
{
    border-color: gray;
}

ArrowKeyControl:focus
{
    border-color: black;
}

QPushButton:disabled
{
    color: #DDDDDD;
}

QHeaderView::section
{
    background-color:white;
    color: black;
}

QDialog
{
    border-color: black;
}
